<div>
  <div class="d-flex flex-row-reverse">
    <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#addFreelancerModal">
      Add new freelancer
    </button>
  </div>

  <div class="modal fade" id="addFreelancerModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Add new freelancer</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingUsername" formControlName="username"
                placeholder="name">
              <label for="floatingUsername">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingEmail" formControlName="email" placeholder="email">
              <label for="floatingEmail">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="phone" class="form-control" id="floatingPhone" formControlName="phone" placeholder="phone">
              <label for="floatingPhone">Phone</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingSkill" formControlName="skillsets"
                placeholder="skill">
              <label for="floatingSkill">Skillsets</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingHobby" formControlName="hobby" placeholder="hobby">
              <label for="floatingHobby">Hobby</label>
            </div>

            <div class="d-flex flex-row-reverse">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>