<div>
  <div class="modal fade" id="editFreelancerModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Edit freelancer details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingEditUsername" formControlName="username"
                placeholder="name">
              <label for="floatingEditUsername">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingEditEmail" formControlName="email"
                placeholder="email">
              <label for="floatingEditEmail">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="phone" class="form-control" id="floatingEditPhone" formControlName="phone"
                placeholder="phone">
              <label for="floatingEditPhone">Phone</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingEditSkill" formControlName="skillsets"
                placeholder="skill">
              <label for="floatingEditSkill">Skillsets</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingEditHobby" formControlName="hobby"
                placeholder="hobby">
              <label for="floatingEditHobby">Hobby</label>
            </div>
            <div class="d-flex flex-row-reverse">
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="status === 'ready'">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Skillsets</th>
        <th>Hobby</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let freelancer of freelancers">
        <td>{{ freelancer.id }}</td>
        <td>{{ freelancer.username }}</td>
        <td>{{ freelancer.email }}</td>
        <td>{{ freelancer.phone }}</td>
        <td>{{ freelancer.skillsets }}</td>
        <td>{{ freelancer.hobby }}</td>
        <td>
          <button (click)="editFreelancer(freelancer)" type="button" class="btn text-secondary" data-bs-toggle="modal"
            data-bs-target="#editFreelancerModal">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button class="btn text-danger" (click)="deleteFreelancer(freelancer.id)"><i class="bi bi-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<div *ngIf="status === 'loading'">Loading...</div>
<div *ngIf="status === 'error'">Error occurred! Please check your internet connection.</div>
<ng-template #loading> Loading... </ng-template>